{
  "swagger": "2.0",
  "host": "sna.ro",
  "schemes": [
    "https"
  ],
  "basePath": "/api/v1",
  "info": {
    "title": "SNA API",
    "description": "SNA project API",
    "version": "1.0.0"
  },
  "definitions": {
    "County": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "id of the county"
        },
        "name": {
          "type": "string",
          "description": "Name of the question."
        }
      }
    },
    "Question": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "id of the question"
        },
        "text": {
          "type": "string",
          "description": "text of the question."
        },
        "answerType": {
          "type": "string",
          "description": "Description of answer type."
        },
        "maxLength": {
          "type": "integer",
          "description": "Maximum length for the answer"
        },
        "step": {
          "type": "integer",
          "description": "Step for the question. (it corresponds to id in Indicator)"
        }
      }
    },
    "StatusOK": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "fields": {
          "type": "string"
        }
      }
    },
    "Institution": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "id of the institution"
        },
        "name": {
          "type": "string",
          "description": "Name of the institution."
        },
        "county": {
          "type": "string",
          "description": "County where the institution belongs"
        }
      }
    },
    "Answer": {
      "type": "object",
      "properties": {
        "questionId": {
          "type": "integer",
          "description": "id of the question the answer is for"
        },
        "value": {
          "type": "integer",
          "description": "value of the answer"
        }
      }
    },
    "AnswersInstitution": {
      "type": "object",
      "properties": {
        "institutionId": {
          "type": "integer",
          "description": "id of the institution"
        },
        "name": {
          "type": "string",
          "description": "name of the institution"
        },
        "employees": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "year": {
                "type": "integer",
                "description": "year of the value"
              },
              "value": {
                "type": "integer",
                "description": "numeric representation"
              }
            }
          }
        },
        "answers": {
          "description": "step or category of indicators",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "stepId": {
                "type": "integer",
                "description": "id of category"
              },
              "indicators": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "indicatorId": {
                      "type": "integer",
                      "description": "id of indicator"
                    },
                    "values": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "year": {
                            "type": "integer",
                            "description": "year of the value"
                          },
                          "value": {
                            "type": "integer",
                            "description": "numeric representation"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "Indicator": {
      "type": "object",
      "properties": {
        "indicatorId": {
          "type": "integer",
          "description": "id of indicator"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "year": {
                "type": "integer",
                "description": "year of the value"
              },
              "value": {
                "type": "integer",
                "description": "numeric representation"
              }
            }
          }
        }
      }
    },
    "Category": {
      "type": "object",
      "properties": {
        "stepId": {
          "type": "integer",
          "description": "id of category"
        },
        "indicators": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "indicatorId": {
                "type": "integer",
                "description": "id of indicator"
              },
              "values": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "year": {
                      "type": "integer",
                      "description": "year of the value"
                    },
                    "value": {
                      "type": "integer",
                      "description": "numeric representation"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "YearValue": {
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "description": "year of the value"
        },
        "value": {
          "type": "integer",
          "description": "numeric representation"
        }
      }
    }
  },
  "paths": {
    "/institutions/{type}": {
      "get": {
        "summary": "Get institutions by type",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Type of the institution - anticorruption, ministry or county",
            "type": "string",
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Token",
            "type": "string",
            "required": true
          }
        ],
        "description": "The list of institutions.\n",
        "tags": [
          "Institutions"
        ],
        "responses": {
          "200": {
            "description": "An array of institutions",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "id of the institution"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the institution."
                  },
                  "county": {
                    "type": "string",
                    "description": "County where the institution belongs"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. {type} should be anticorruption, ministry or county"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "fields": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/counties": {
      "get": {
        "summary": "Get all counties",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Token",
            "type": "string",
            "required": true
          }
        ],
        "description": "The list of counties.\n",
        "tags": [
          "Counties"
        ],
        "responses": {
          "200": {
            "description": "An array of counties",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "id of the county"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the question."
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "fields": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/indicators": {
      "get": {
        "summary": "Get all questions",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Token",
            "type": "string",
            "required": true
          }
        ],
        "description": "The list of questions to answer for the institution.\n",
        "tags": [
          "Questions"
        ],
        "responses": {
          "200": {
            "description": "An array of questions",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "id of the question"
                  },
                  "text": {
                    "type": "string",
                    "description": "text of the question."
                  },
                  "answerType": {
                    "type": "string",
                    "description": "Description of answer type."
                  },
                  "maxLength": {
                    "type": "integer",
                    "description": "Maximum length for the answer"
                  },
                  "step": {
                    "type": "integer",
                    "description": "Step for the question. (it corresponds to id in Indicator)"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "fields": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/indicators/{category}": {
      "get": {
        "summary": "Get all questions corresponding to one specific category",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "description": "Currently, the questions are divided in 12 categories. Requests with {category} gt 12 will return an empty array",
            "type": "integer",
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Token",
            "type": "string",
            "required": true
          }
        ],
        "description": "The list of questions to answer corresponding to one specific category\n",
        "tags": [
          "Questions"
        ],
        "responses": {
          "200": {
            "description": "An array of questions",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "id of the question"
                  },
                  "text": {
                    "type": "string",
                    "description": "text of the question."
                  },
                  "answerType": {
                    "type": "string",
                    "description": "Description of answer type."
                  },
                  "maxLength": {
                    "type": "integer",
                    "description": "Maximum length for the answer"
                  },
                  "step": {
                    "type": "integer",
                    "description": "Step for the question. (it corresponds to id in Indicator)"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. {category} should be a positive integer"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "fields": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "summary": "Get all categories",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Token",
            "type": "string",
            "required": true
          }
        ],
        "description": "The list of questions categories and their full name \n",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "An array of Categories",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "stepId": {
                    "type": "integer",
                    "description": "id of category"
                  },
                  "indicators": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "indicatorId": {
                          "type": "integer",
                          "description": "id of indicator"
                        },
                        "values": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "year": {
                                "type": "integer",
                                "description": "year of the value"
                              },
                              "value": {
                                "type": "integer",
                                "description": "numeric representation"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "fields": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/answers/{institutionType}": {
      "get": {
        "summary": "Get all institutions answers to all the questions.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Token",
            "type": "string",
            "required": true
          },
          {
            "name": "institutionType",
            "in": "path",
            "description": "Type of the institution - anticorruption, ministry or county",
            "type": "string",
            "required": true
          }
        ],
        "description": "Gets the answers for all the institutions, categories and years.\n",
        "tags": [
          "Answers"
        ],
        "responses": {
          "200": {
            "description": "Answers institutions",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "institutionId": {
                    "type": "integer",
                    "description": "id of the institution"
                  },
                  "name": {
                    "type": "string",
                    "description": "name of the institution"
                  },
                  "employees": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "year": {
                          "type": "integer",
                          "description": "year of the value"
                        },
                        "value": {
                          "type": "integer",
                          "description": "numeric representation"
                        }
                      }
                    }
                  },
                  "answers": {
                    "description": "step or category of indicators",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "stepId": {
                          "type": "integer",
                          "description": "id of category"
                        },
                        "indicators": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "indicatorId": {
                                "type": "integer",
                                "description": "id of indicator"
                              },
                              "values": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "year": {
                                      "type": "integer",
                                      "description": "year of the value"
                                    },
                                    "value": {
                                      "type": "integer",
                                      "description": "numeric representation"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "fields": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}