{
  "swagger": "2.0",
  "host": "sna.ro",
  "schemes": [
    "https"
  ],
  "basePath": "/api/v1",
  "info": {
    "title": "SNA API",
    "description": "SNA project API",
    "version": "1.0.0"
  },
  "definitions": {
    "County": {
      "$ref": "#/paths/~1counties/get/responses/200/schema/items"
    },
    "Question": {
      "$ref": "#/paths/~1questions/get/responses/200/schema/items"
    },
    "StatusOK": {
      "$ref": "#/paths/~1answer/post/responses/200/schema"
    },
    "Error": {
      "$ref": "#/paths/~1institutions~1%7Btype%7D/get/responses/default/schema"
    },
    "Institution": {
      "$ref": "#/paths/~1institutions~1%7Btype%7D/get/responses/200/schema/items"
    }
  },
  "paths": {
    "/institutions/{type}": {
      "get": {
        "summary": "Get institutions by type",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Type of the institution - anticorruption, ministry or county",
            "type": "string",
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Token",
            "type": "string",
            "required": true
          }
        ],
        "description": "The list of institutions.\n",
        "tags": [
          "Institutions"
        ],
        "responses": {
          "200": {
            "description": "An array of institutions",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "id of the institution"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the institution."
                  },
                  "county": {
                    "type": "string",
                    "description": "County where the institution belongs"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. {type} should be anticorruption, ministry or county"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "fields": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/counties": {
      "get": {
        "summary": "Get all counties",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Token",
            "type": "string",
            "required": true
          }
        ],
        "description": "The list of counties.\n",
        "tags": [
          "Counties"
        ],
        "responses": {
          "200": {
            "description": "An array of counties",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "id of the county"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the question."
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/paths/~1institutions~1%7Btype%7D/get/responses/default/schema"
            }
          }
        }
      }
    },
    "/questions": {
      "get": {
        "summary": "Get all questions",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Token",
            "type": "string",
            "required": true
          }
        ],
        "description": "The list of questions to answer for the institution.\n",
        "tags": [
          "Questions"
        ],
        "responses": {
          "200": {
            "description": "An array of questions",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "id of the question"
                  },
                  "text": {
                    "type": "string",
                    "description": "text of the question."
                  },
                  "answerType": {
                    "type": "string",
                    "description": "Description of answer type."
                  },
                  "maxLength": {
                    "type": "integer",
                    "description": "Maximum length for the answer"
                  },
                  "step": {
                    "type": "integer",
                    "description": "Step for the question."
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/paths/~1institutions~1%7Btype%7D/get/responses/default/schema"
            }
          }
        }
      }
    },
    "/questions/{step}": {
      "get": {
        "summary": "Get all questions corresponding to one specific step",
        "parameters": [
          {
            "name": "step",
            "in": "path",
            "description": "Step number, between 0 and 12 inclusive",
            "type": "integer",
            "required": true
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Token",
            "type": "string",
            "required": true
          }
        ],
        "description": "The list of questions to answer corresponding to one specific step\n",
        "tags": [
          "questions"
        ],
        "responses": {
          "200": {
            "description": "An array of questions",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/paths/~1questions/get/responses/200/schema/items"
              }
            }
          },
          "400": {
            "description": "Bad request. {step} should be an integer between 0 and 12 inclusive"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/paths/~1institutions~1%7Btype%7D/get/responses/default/schema"
            }
          }
        }
      }
    },
    "/answer": {
      "post": {
        "summary": "Post an answer for a question",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "JWT Token",
            "type": "string",
            "required": true
          },
          {
            "name": "questionId",
            "in": "query",
            "description": "The id of the question the answer is for.",
            "type": "integer",
            "required": true
          },
          {
            "name": "answer",
            "in": "query",
            "description": "The answer for the question",
            "type": "string",
            "required": true
          }
        ],
        "description": "Posts an answer to a question\n",
        "tags": [
          "Answer"
        ],
        "responses": {
          "200": {
            "description": "Status ok",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/paths/~1institutions~1%7Btype%7D/get/responses/default/schema"
            }
          }
        }
      }
    }
  }
}